PORT=
MONGO_URI=
JWT_SECRET=
FRONTEND_URL=

# Nodemailer Email Configuration (Gmail + App Password)
EMAIL_USER=devtinder93@gmail.com
EMAIL_PASS=your_gmail_16_character_app_password
EMAIL_RECEIVER=devtinder93@gmail.com